* {
    font-family: 'NotoSans', sans-serif;
    font-weight: bold;
    font-size: 12px;
    border: none;
    /* border-radius: 0; */
    border-radius: 1rem;
    min-height: 0;
    margin: 0;
    padding: 0;
}

window {
    background-color: transparent;
    color: #1d2021;
}

.modules-left {
    padding-left: 0.5rem;
    padding-right: 1rem;
}
.modules-right {
    padding-left: 0.5rem;
    padding-right: 1rem;
}
.modules-center {
    padding-right: 4rem;
    padding-left: 4rem;
    background-color: #b8bb26;
}

#tray,
#backlight,
#privacy,
#custom-mic,
#workspaces,
#battery,
#clock,
#network,
#wireplumber {
    padding-right: 1rem;
    padding-left: 1rem;
    margin-left: 0.5em;
    margin-right: 0.5em;
    color: #282828;
}

#custom-mic{
    background-color: #83a598;
}

#privacy {
    background-color: #b8bb26;
}

#workspaces {
    padding-right: 0rem;
    padding-left: 0rem;
    background-color: #689d6a;

}
#workspaces button {
  color: #1d2021;
  padding: 0 0.5rem 0 0.5rem;
}
#workspaces button.active {
    background-color: #8ec07c;
    padding: 0 1rem 0 1rem;
}
#workspaces button.urgent {
    background-color: #fabd2f;
    padding: 0 1rem 0 1rem;
}

#battery {
    background-color: #83a598;
}
#battery.critical {
    background-color: #fe8d30;
}
#battery.warning {
    background-color: #fabd2f;
}
#battery.charging {
    background-color: #689d6a;
}
#battery.plugged {
    background-color: #689d6a;
}

#clock.date {
    padding: 0;
    padding-left: 1em;
}
#clock.time {
    padding: 0;
    padding-right: 1em;
}

#network {
    background-color: #d3869b;
}
#network.bandwidth {
    background-color: #d3869b;
}

#wireplumber {
    background-color: #fabd2f;
}

#backlight {
    background-color: #fe8d30;
}

#tray {
    background-color: #689d6a;
}
#tray menu {
    /*margin-top: 5em;*/
    padding: 1em 0.5em;
}

tooltip {
    background-color: rgba(40, 40, 40, 0.8);
}
tooltip label {
    color: #ebdbb2;
    background-color: rgba(40, 40, 40, 0.8);
}
