* {
    font-family: 'NotoSans', 'sans-serif';
    font-weight: bold;
    font-size: 12px;
    border: none;
    /* border-radius: 0; */
    border-radius: 1rem;
    min-height: 0;
    margin: 0;
    padding: 0;
}

window {
    background-color: transparent;
    color: #1d2021;
}

.module{
    padding-right: 0.6rem;
    padding-left: 0.6rem;
    color: #282828;
}

.modules-left {
    padding-left: 0;
    padding-right: 0.6rem;
}

.modules-right {
    padding-left: 0.6rem;
    padding-right: 0;
}

.modules-center {
    padding-right: 4rem;
    padding-left: 4rem;
    background-color: #b8bb26;
}

#custom-mic {
    background-color: #83a598;
}

#privacy {
    color: #282828;
    background-color: #b8bb26;
}

#custom-hyprfloat {
    background-color: #689d6a;
}

#workspaces {
    padding-right: 0rem;
    padding-left: 0rem;
    background-color: #689d6a;

}

#workspaces button {
    color: #1d2021;
    padding: 0 0.5rem 0 0.5rem;
}

#workspaces button.active,
#workspaces button:hover {
    background-color: #8ec07c;
    padding: 0 1rem 0 1rem;
}

#workspaces button.urgent {
    background-color: #fabd2f;
    padding: 0 1rem 0 1rem;
}

#window {
    background-color: #689d6a;
}

#submap {
    background-color: #689d6a;
}

#language {
    background-color: #83a598;
}

#battery {
    background-color: #83a598;
}

#battery.critical {
    background-color: #fe8d30;
}

#battery.warning {
    background-color: #fabd2f;
}

#battery.charging {
    background-color: #689d6a;
}

#battery.plugged {
    background-color: #689d6a;
}

#clock.date {
    padding: 0;
    padding-left: 1em;
    box-shadow: none;
}

#clock.time {
    padding: 0;
    padding-right: 1em;
    box-shadow: none;
}

#mpris {
    padding-left: 1.5rem;
    background-color: #689d6a;
}

#network {
    background-color: #d3869b;
}

#network.bandwidth {
    background-color: #d3869b;
}

#wireplumber {
    background-color: #fabd2f;
}

#backlight {
    background-color: #fe8d30;
}

#tray {
    background-color: #83a598;
}

#tray menu {
    /*margin-top: 5em;*/
    padding: 1em 0.5em;
}

tooltip {
    background-color: rgba(40, 40, 40, 0.8);
}

tooltip label {
    color: #ebdbb2;
    background-color: rgba(40, 40, 40, 0.8);
}
