(
    profiles: (
        balanced: [
            (
                fan: CPU,
                pwm: (10, 25, 33, 53, 58, 76, 96, 119),
                temp: (0, 55, 59, 63, 67, 71, 75, 79),
                enabled: false,
            ),
            (
                fan: GPU,
                pwm: (17, 25, 43, 43, 66, 84, 104, 130),
                temp: (0, 52, 56, 60, 64, 68, 72, 76),
                enabled: true,
            ),
        ],
        performance: [
            (
                fan: CPU,
                pwm: (53, 58, 76, 96, 119, 140, 255, 255),
                temp: (52, 56, 60, 64, 68, 72, 76, 76),
                enabled: false,
            ),
            (
                fan: GPU,
                pwm: (43, 66, 84, 104, 130, 150, 255, 135),
                temp: (44, 49, 54, 59, 64, 69, 74, 74),
                enabled: true,
            ),
        ],
        quiet: [
            (
                fan: CPU,
                pwm: (2, 10, 17, 25, 33, 53, 58, 58),
                temp: (58, 62, 66, 70, 74, 78, 82, 82),
                enabled: true,
            ),
            (
                fan: GPU,
                pwm: (2, 17, 25, 33, 43, 43, 66, 66),
                temp: (52, 56, 60, 64, 68, 72, 76, 76),
                enabled: true,
            ),
        ],
    ),
)