# Suspend the system when battery level drops to 5% or lower
SUBSYSTEM=="power_supply", ATTR{status}=="Discharging", ATTR{capacity}=="[6-9]", RUN+="usr/bin/su USERNAME -c '/etc/udev/rules.d/lowbat.sh -w'"
SUBSYSTEM=="power_supply", ATTR{status}=="Discharging", ATTR{capacity}=="10", RUN+="usr/bin/su USERNAME -c '/etc/udev/rules.d/lowbat.sh -w'"
# Suspend the system when battery level drops to 5% or lower
SUBSYSTEM=="power_supply", ATTR{status}=="Discharging", ATTR{capacity}=="[0-5]", RUN+="usr/bin/su USERNAME -c '/etc/udev/rules.d/lowbat.sh -d'"
